{% extends "telegram/commands/base.html" %}

{% block content %}
    <div>Olá! Aqui você poderá realizar pesquisas de dados.</div> <br/>
    <br/>
    <div>Tenha <strong>CONSCIÊNCIA</strong> sobre suas consultas, pois <em>nós <strong> NÃO RESPONSABILIZAREMOS</strong> por seus atos!</em></div> <br/>
    <br/>
    <div>Digite /comandos para ver todos os meus comandos!</div> <br/>
    <br/>
    <div><strong>IMPORTANTE: </strong>Este BOT NÃO pode ser usado em grupos do Telegram. Caso seja inserido em um grupo, o BOT sairá automaticamente.</div>
{% endblock %}