{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}Telegram settings{% endblock %}



<!-- No sidebar -->
{% block nav-sidebar %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; {% translate 'Telegram webhook settings' %}
    </div>
{% endblock %}

<!-- Title -->
{% block content_title %}{% translate 'Telegram webhook settings' %}{% endblock %} 


{% block extrastyle %}
    <style>
        .highlight pre {text-wrap: wrap}
        {{ formatter_style }}
    </style>
{% endblock %}

<!-- Content -->
{% block content %}
    {{ result_json_formated|safe }}

    <form method="post">
        {% csrf_token %}
        
        <div class="submit-row">
            {% if result_url != "" %}                 
                <input type="submit" name="_delete_webhook" value="{% translate 'Delete webhook' %}" style="background: var(--delete-button-hover-bg);">
            {% else %}
                <input class="default" type="submit" name="_set_webhook" value="{% translate 'Set webhook' %}">
            {% endif %}        
        </div>
    </form>
{% endblock %}





