{% extends "telegram/commands/base.html" %}

{% block content %}
    <strong>Comando: </strong><code>/cnpj <strong>&lt;CNPJ&gt;</strong></code> <br/>
    <br/>
    <div>Substitua o <code><strong>&lt;CNPJ&gt;</strong></code> pelo CNPJ da empresa que deseja pesquisar.</div> <br/>
    <br/>
    <div>Siga a seguinte formatação: <em>00.000.000/0000-00</em></div> <br/>
    <br/>
    <div>Exemplo: <code>/cnpj 12.345.678/1234-12</div></code>
{% endblock %}