{% extends "telegram/commands/base.html" %}

{% block content %}
    {% if search.status == "OK" %}
        {% with no_info="SEM INFORMAÇÃO" %}
            <strong>🔍 CONSULTA DO CNPJ 🔍</strong><br/>  
            <br/>
            <div>Data da última atualzação: {{ last_update|default:no_info }}</div><br/>
            <br/>
            <strong>• CNPJ: </strong> <code>{{ cnpj }}</code> <br/>   
            <strong>• SITUAÇÃO: </strong> <code>{{ search.tipo|default:no_info }}</code> <br/>
            <strong>• RAZÃO SOCIAL: </strong> <code>{{ search.nome|default:no_info }}</code> <br/>
            <strong>• NOME FANTASIA: </strong> <code>{{ search.fantasia|default:no_info }}</code> <br/>
            <strong>• TIPO: </strong> <code>{{ search.tipo|default:no_info }}</code> <br/>
            <strong>• EFR: </strong> <code>{{ search.efr|default:no_info }}</code> <br/>
            <strong>• NATUREZA JURÍDICA: </strong> <code>{{ search.natureza_juridica|default:no_info }}</code> <br/>
            <strong>• PORTE: </strong> <code>{{ search.porte|default:no_info }}</code> <br/>
            <strong>• CAPITAL SOCIAL: </strong> <code>{{ search.capital_social|default:no_info }}</code> <br/>
            <strong>• DATA DE ABERTURA: </strong> <code>{{ search.abertura|default:no_info }}</code> <br/>
            <strong>• DATA DE SITUAÇÃO: </strong> <code>{{ search.data_situacao|default:no_info }}</code> <br/>
            <strong>• ATIVIDADES PRINCIPAIS: </strong> <br/>
            {% for activity in search.atividade_principal %}
                <code>{{ activity.code }} - {{ activity.text }}</code> <br/>
            {% endfor %}
            <br/>
            <strong>• Localização: </strong> <br/>
            <div>&emsp;estado: </div> <code>{{ search.uf|default:no_info }}</code ><br/>
            <div>&emsp;município: </div> <code>{{ search.municipio|default:no_info }}</code> <br/>
            <div>&emsp;logradouro: </div> <code>{{ search.logradouro|default:no_info }}</code> <br/>
            <div>&emsp;número: </div> <code>{{ search.numero|default:no_info }}</code> <br/>
            <div>&emsp;bairo: </div> <code>{{ search.bairro|default:no_info }}</code> <br/>
            <div>&emsp;CEP: </div> <code>{{ search.cep|default:no_info }}</code> <br/>
            <div>&emsp;complemento: </div> <code>{{ search.complemento|default:no_info }}</code> <br/>
            <br/>
            <strong>• CONTATOS: </strong> <br/>
            <div>&emsp;email: </div> <code>{{ search.email|default:no_info }}</code> <br/>
            <div>&emsp;telefone: </div> <code>{{ search.telefone|default:no_info }}</code> <br/>
            <br/>
            {% if search.qsa %}
                <strong>• FUNCIONÁRIOS DA EMPRESA</strong><br/>
                {% for employee in search.qsa %}
                    <div>&emsp;nome: </div> <code>{{ employee.nome }}</code> <br/>
                    <div>&emsp;qualificação: </div> <code>{{ employee.qual }}</code> <br/>
                    <br/>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% else %}
        <strong>❌ | CNPJ NÃO ENCONTRADO! </strong>
    {% endif %}
{% endblock %}

