{% extends "telegram/commands/base.html" %}

{% block content %}
    <strong>Comando: </strong><code>/ip <strong>&lt;IP&gt;</strong></code> <br/>
    <br/>
    <div>Substitua o <code><strong>&lt;IP&gt;</strong></code> pelo endereço de IP que deseja pesquisar.</div>
    <br/>
    Siga a seguinte formatação: <em>000.000.000.000</em> <br/>
    <br/>
    <div>Exemplo: <code>/ip 192.168.0.12</code></div>
    <br/>
{% endblock %}