{% extends "telegram/base.html" %}

{% block content %}
    {% if search.status == "success" %}
        {% with no_info="SEM INFORMAÇÃO" %}
            <strong>🔍 CONSULTA DE IP 🔍</strong> <br/>
            <br/>
            <strong>• IP: </strong> <code>{{ ip }}</code> <br/>
            <strong>• FORNECEDOR DE INTERNET: </strong> <code>{{ search.org|default:no_info }}</code> <br/>
            <strong>• EMPRESA: </strong> <code>{{ search.as|default:no_info }}</code> <br/>
            <br/>
            <strong>• Localização: </strong> <br/>
            <div>&emsp;país: </div> <code>{{ search.country|default:no_info }}</code > <br/>
            <div>&emsp;sigla do país: </div> <code>{{ search.countryCode|default:no_info }}</code> <br/>
            <div>&emsp;estado: </div> <code>{{ search.regionName|default:no_info }}</code> <br/>
            <div>&emsp;sigla do estado: </div> <code>{{ search.region|default:no_info }}</code> <br/>
            <div>&emsp;cidade: </div> <code>{{ search.city|default:no_info }}</code> <br/>
            <div>&emsp;CEP: </div> <code>{{ search.zip|default:no_info }}</code> <br/>
            <div>&emsp;fuso horário: </div> <code>{{ search.timezone|default:no_info }}</code> <br/>
            <div>&emsp;latitude: </div> <code>{{ search.lat|default:no_info }}</code> <br/>
            <div>&emsp;longitude: </div> <code>{{ search.lon|default:no_info }}</code> <br/>
            <br/>
        {% endwith %}
    {% else %}
        <strong>❌ | IP NÃO ENCONTRADO! </strong>
    {% endif %}
{% endblock %}
        