{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="vh-100 d-flex justify-content-center align-items-center">
		<form method="post" class="card shadow px-4 pt-2 pb-4 rounded w-100 m-2" style="max-width: 500px;" novalidate>
			<h2 class="text-center py-4 fs-1">Login</h1>
	
			{% csrf_token %}
	
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger alert-dismissible">
					{{ error }}
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				</div>
			{% endfor %}
	
	
			{% for field in form %}
				<div class="form-floating mb-3">
					{{ field }}
					<label>{{ field.label|striptags }}</label>
					
					{% if field.errors %}
						<small class="form-error text-danger">{{ field.errors|striptags }}</small> 
					{% endif %}
				</div>
			{% endfor %}
	
			<button type="submit" class="btn btn-primary mt-2 mx-auto fs-5 px-3">Login</button>
		</form>
	</div>
{% endblock content %}