<!DOCTYPE html>
{% load static i18n bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Content Security Policy -->
    <meta 
        http-equiv="Content-Security-Policy"
        content="
            child-src 'none'; 
            worker-src 'none';
            font-src 'self';
            script-src  'self' https://cdn.jsdelivr.net;
            form-action 'self';
            base-uri 'self';
            upgrade-insecure-requests;
            block-all-mixed-content;
        "
    />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'core/favicons/site.webmanifest' %}">
    <!-- Css and Js -->
    {% block head %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    {% endblock %}
</head>
<body >
    <header>
        {% block menu %}{% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
